@import "~bootstrap/scss/bootstrap.scss";

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainCounter{
    text-align: center;
    
}

.mainCounter div{
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    line-height: 60px;
    background: rgb(32, 32, 32);
    color: white;
    padding:20px;
    margin: 3px;
}

